access_token: "fill_me_in"

repos:
  - owner: repo_owner
    repo: repo_name
    rules:
      - name: commit title
        description: all commit titles are less than or equal to 50 characters
        expression: |-
          .commits all(.commit.message test "^[a-z 0-9:-]{,50}$")
